.dashboard-title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .container {
    margin-top: 50px;
    padding-top: 25px;
    padding-right: 0px;
  }

  .comps {
    padding-bottom: 25px;
  }
  .comps label {
    display: block;
    padding-left: 10px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
  }
  .comps button {
    margin: 10px;
    cursor: pointer;
    background-color: #046d41;
    border: 3px solid #046d41;
    border-radius: 5px;
    color: #fff;
    width: 45%;
    font-size: 20px;
  }
  .comps button:hover {
    transform: scale(1.05);
  }

