.add-employee-form {
    margin-top: 50px;
    margin-left: 80px; 
    margin-right: 80px;
}

.add-employee-title {
    text-align: center;
    margin-top: 40px;
}

.add-employee-btn-group {
    margin-right: 20px;
}

.day-label{
    width: 200px;
    margin-right:20px;
    text-align: center;
    
}


.schedule-table-col {
    padding-right: 30px;
    text-align:center;
}

.submitted-label {
    text-align: center;
}