.main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.column {
    float: left;
    width: 15%;
  }

.title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}